<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-init="names=['Nemanja', 'Daca', 'Nena', 'Pera']">
        <div>Hello: 
            <input type="text" ng-model="name"/> 
            <p><strong>Ciao {{name}}</strong></p>
        </div
        <ul>
            <li ng-repeat="personName in names">
                {{personName}}
            </li>
        </ul>
        <script type="text/javascript" src="js/libs/angular.js/angular.js">
            
        </script>
    </body>
</html>
